body{
    padding: 0;
    margin: 0;
}
                                                   /*  Inicio do cabeçalho */
.nav-item{
    margin-left: 11.16vw;
}

nav{
    background-color: #425379;
}

.dropdown-menu{
    background-color: #425379;
    color: #ffffff;
}

#logo_header{
    width: 170px;
    height: 50px;
}

.dropdown-item{
    color: #ffffff;
}

.perfil_botao{
    border-radius: 50px 0px 0px 50px;
    height: 80px;
    width: 300px;
    color: #ffffff;
    background-color: #00548A;
}

.icone_perfil{
    background-color: #ffffff;
    border-radius: 50%;
}

.nav_texto{
    padding-top: 20px;
    overflow-wrap: nowrap;
    white-space: nowrap;
}
                                                    /* Fim do cabeçalho */

.botao_voltar_nav{
    width: 50px;
    margin-left: 85%;
}

.botao_voltar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3697D3;
}