h3{
    color: #00548A;
    font-size: 3rem;
    margin-bottom: 2%;
}

p{
    margin-bottom: 13%;
}

.texto{
    font-size: 1.3rem;
    padding-left: 3%;
}

.gmail_texto{
    margin-top: 17%;
}

.redes{
    display: flex;
    width: 60%;
    /* height: 1000px; */
    margin-left: 20%;
    margin-top: 126px;
}

.logos_div{
    width: 18rem;
}

.logos{
    width: 15em;
    height: 15em;
    margin-bottom: 25%;
}

.whatsapp{
    margin-top: 20%;
}

.gmail{
    width: 20em;
    height: 10em;
    margin-top: 90%;
    margin-left: -12%;
}

.mapa_texto{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.google_maps{
    width: 14em;
    height: 3em;
}

.mapa{
    height: 30em;
}

.mapa img{
    width: 100%;
    height: 100%;
}