*{
    margin: 0;
}

body{
    margin: 0;
    background-image: url(../imagens/Imagem_optometria.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-login{
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 5vw;
}

.quadrado{
    width: 50em;
    height: 30em;
    background-color: #304878;
    border-radius: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quadrado > h3{
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #fff;
    position: relative;
    top: -0.8em;
}



.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    position: relative;
    bottom: 3em;
}

.login > label{
    font-size: 1.5em;
    font-style: italic;
    margin-left: 0.5em;
}

.login > input{
    width: 45em;
    height: 2.6em;
    border-radius: 0.3em;
    background-color: #D8D8D8;
}

.pos-button{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 5.2em;
}

.btn-login{
    height: 3em;
    width: 10em;
    margin-right: 3em;
    border-radius: 0.4em;
    background-color: #3697D3;
    color: #fff;
}

.btn-login .letra-grande{
    position: relative;
    bottom: 0.14em;
    font-size: 2em;
}

.btn-login .letra-menor{
    font-size: 1em;
    position: relative;
    bottom: 0.09em;
}

.btn-login .letra-media{
    font-size: 1.6em;
    position: relative;
    bottom: 0.1em;
}

.sla{
    display: flex;
    position: relative;
    left: 20.6em;
    bottom: 3em;
}

.btn-login2{
    position: relative;
    bottom: -4em;
    right: 30em;
    width: 10em;
    margin-right: 3em;
}