body{
    padding: 0;
    margin: 0;
}

h3{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-left: 40px;
}
                                                   /*  Inicio do cabeçalho */
/* .nav-item{
    margin-left: 11.5vw;
}

/* Cores do site
#3697D3
#2986C1
#1b76af
#0e659c
#00548a *

nav{
    background-color: #425379;
}

.dropdown-menu{
    background-color: #425379;
    color: #ffffff;
}

#logo_header{
    width: 170px;
    height: 50px;
}

.dropdown-item{
    color: #ffffff;
}

.perfil_botao{
    border-radius: 50px 50px;
    height: 80px;
    width: 300px;
    color: #ffffff;
    background-color: #00548A;
}

.icone_perfil{
    background-color: #ffffff;
    border-radius: 50%;
}

.nav_texto{
    padding-top: 20px;
    overflow-wrap: nowrap;
    white-space: nowrap;
} */
                                                    /* Fim do cabeçalho */
.imagem_fundo{
    width: 100vw;
    height: 500px;
    border: 1px red solid;
    margin-top: 96px;
}

.agendamento_consulta{
    width: 600px;
    height: 400px;
    background-color: #304878;
    margin-top: 50px;
    opacity: 85%;

    margin-left: 65vw;
}

.row, .container, .col{
    border: 1px solid red;
}

.teste{
    margin-top: 96px;
    background-color: aliceblue;
    height: 500px;
}

.fundo{
    height: 500px;
}

.cadastro{
    height: 400px;
    margin-top: 50px;
    background-color: #304878;
    opacity: 85%;
    color: #ffffff;
}

.form-control{
    margin-bottom: 40px;
    margin-left: 40px;
    width: 520px;

    background-color: #D8D8D8;
}

#agendar{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

#primeiro_acesso{
    background-color: #181848;
    font-size: 20px;
}